<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.dal.csci3130.coursesmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourseRegisterActivity"></activity>
        <activity android:name=".courseListView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserActivity"></activity>
        <activity android:name=".Login" />
        <activity android:name=".ComputerScience"></activity>
        <activity android:name=".Art"></activity>
        <activity android:name=".commerce"></activity>
        <activity android:name=".science"></activity>
        <activity android:name=".CS1000"></activity>
        <activity android:name=".CS2000"></activity>
        <activity android:name=".CS3000"></activity>
        <activity android:name=".CS4000"></activity>
        <activity android:name=".A1000"></activity>
        <activity android:name=".A2000"></activity>
        <activity android:name=".A3000"></activity>
        <activity android:name=".A4000"></activity>
        <activity android:name=".COM1000"></activity>
        <activity android:name=".COM2000"></activity>
        <activity android:name=".COM3000"></activity>
        <activity android:name=".COM4000"></activity>
        <activity android:name=".S1000"></activity>
        <activity android:name=".S2000"></activity>
        <activity android:name=".S3000"></activity>
        <activity android:name=".S4000"></activity>
    </application>

</manifest>